amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.18
dj-database-url==0.5.0
Django
django-heroku
Faker==1.0.1
gunicorn==19.9.0
kombu==3.0.37
Pillow==5.3.0
psycopg2-binary
python-dateutil==2.7.5
pytz==2018.7
redis==2.10.3
robotframework==3.1
robotframework-faker==4.2.0
robotframework-seleniumlibrary==3.2.0
robotframework-xvfb==1.2.2
selenium==3.141.0
six==1.12.0
text-unidecode==1.2
urllib3==1.24.1
whitenoise
wrapt==1.10.11
xvfbwrapper==0.2.9
